#photo{
    width: 50%;
    /* display: flex; */
    display:block;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}


/* aside for index.html */

#context{
    width: 50%;
    /* display: flex; */
    display:block;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

/* animiation */
@keyframes zoomin {
    from {
        width: 30%;
    }
    to {
        width: 35%;
    }
}

#lisbon {
    animation-name: zoomin;
    animation-duration: 3.5s;
    animation-timing-function: linear;
}

@media (prefers-reduced-motion) {
    #lisbon {
        animation: none;
    }
}

/* background image */
#hello{
    background-image: url("../images/world_travel.jpeg");
    background-color: #bac1be;
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main, #morocco, #portugal, #index{
    background-color: #D6E4E5;
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

/* normal setting */
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  /* text-align: center; */
}

h1.home{
  text-align: left;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
  width: 70%;
  font-family: Lato, sans-serif;
}

p,h3 {
  color: black;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;

}

#self_emp，self_emp1{
  color: #0D4C92;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.content {
  padding: 40px;
}

img{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  height: auto;
	width:500px;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  border: 1px dotted blue;
}

img:hover{
	border: 1px solid #D6E4E5;
}


/* gallery flex */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.col {
display:inline-flex;
flex-direction:column;
justify-content:space-between;
}


body {
    background-color: #bac1be;
    min-height: 100%;
    display: grid;
    grid-template-rows: 45px auto 45px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    color: #393539;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 2;
}

nav ul {
    justify-content: right;
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    color: black;
}

.current-page {
    font-weight: bold;
    background-color: #a9c7c9;
    color: #f2f2f2;
    border: 2px solid #D6E4E5;
    border-radius: 15px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
}

@media all and (min-width: 700px) {
    /* body {
        grid-template-rows: 50px 1fr 30px;
        grid-template-columns: 4fr 1fr;
    } */

    header {
        grid-column: 1 / span 5;
    }

    main {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    /* aside {
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
    } */

    footer {
        grid-row: 1 / -1;
        grid-column: 15 / span 2;
    }

}
